.auth {
	width: 1142px;
	margin: 0 auto;
	min-height: calc(100vh - 120px);
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}

.title {
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 15px;
}
